/Projects/Samples/SampleApp/CC2530DB/RouterEB
/Projects/Samples/SampleApp/CC2530DB/CoordinatorEB
/Projects/Samples/SampleApp/CC2530DB/EndDeviceEB
/Projects/Samples/SampleApp/CC2530DB/*.dep
/Projects/Samples/SampleApp/CC2530DB/settings
/.vscode
